<html>
	<head>
		<meta charset="utf-8">
		<title> Войдите в аккаунт доктора </title>

		 <!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.min.css">
	    <!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
	<nav>
	    <div class="nav-wrapper blue">
	      <a href="/doctor/cabinet" class="brand-logo" style="margin-left:2%;">Кабинет</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/doctor/logout">Выйти</a></li>
	      </ul>
	    </div>
	</nav>
	<br />

    <div class = "container">
        <div class = "row">

	<div class = "col s4">
		  <div class="row">
  			  <div class="col s12 m10">
     				 <div class="card blue">
        				<div class="card-content white-text">
          					<span class="card-title">Комментарий</span>
          					<p id = "comment"></p>
						<p id = "comment_date"></p>
        				</div>
        			<div class="card-action">
          				<a href="#">Ответить</a>
        			</div>
      			</div>
    		</div><br />
  	</div>
         
	</div>
	<div class = "col s4">
	<center>
		<div id="human-model col s4">
			<canvas id="canvas"></canvas>
		</div>
	        <br />
		<!--<div class = "row">
			<div class = "col s3"></div>
			<div class = "col s6">
				<div id="slider"></div>
			</div>
			<div class = "col s3"></div>
 		</div>-->
	</center>
	</div>
	<div class = "col s4">
		<img src = "" id = "pain_image" style="width:70%; padding: 2%;" />	
	</div>	
	</div>
                <div class = "row">
                        <div class = "col s3"></div>
                        <div class = "col s6">
                                <div id="slider"></div>
                        </div>
                        <div class = "col s3"></div>
                </div>

    	<div class = "row">
    		<div class = "col s6">
    			<div id="pain_plot"></div>
    		</div>
    		<div class = "col s6">
    			<div id="bed_time"></div>
    		</div>
    	</div>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/14.0.3/nouislider.min.js"></script>

    <!-- READ PAIN REGIONS DATA -->
    <script>
 		let pain_regions = [
 			{% for pr in pain_regions %}
 				["{{ pr.add_date }}", {{ pr.x }}, {{ pr.y }}, {{ pr.r }}, "{{ pr.image_path }}", "{{ pr.comment }}"],
 			{% endfor %}
 		];

 		let day_data = new Object();
		let dates = []
		for (let i in pain_regions) {
		    let date = new Date(pain_regions[i][0].substr(0, pain_regions[i][0].length - 10))
		    if (!(date in day_data)) { 
		        day_data[date] = [];
		        dates.push(date);
		    }
		    day_data[date].push({"x": pain_regions[i][1], "y": pain_regions[i][2], "r": pain_regions[i][3], "image": pain_regions[i][4], "comment": pain_regions[i][5]})
		} 
    </script>

    <!-- SLIDER -->
    <script>
        var stepSlider = document.getElementById('slider');

	noUiSlider.create(stepSlider, {
    		start: [1],
    		step: 1,
    		range: {
        		'min': 1,
        		'max': dates.length,
		}
	});
    </script>


    <!-- MODEL -->
    <script>
       		var canvas = document.getElementById('canvas');
		var ctx = canvas.getContext('2d');

		var image = new Image(350, 700);   // Размер изображения
		image.onload = drawImageActualSize; // Рисуем изображение, когда оно будет загружено

		image.src = '/static/Client/h1.jpg';

		function drawImageActualSize() {
		  canvas.width = 400;
		  canvas.height = 700;

		  ctx.drawImage(this, 0, 0, this.width, this.height);
		}

		function drawCircle(x, y, r) {
			var c = document.getElementById("canvas");
			var ctx = c.getContext("2d");
			ctx.beginPath();
			
			console.log("draw circle:", x, y, r);
			ctx.arc(x, y, r, 0, 2 * Math.PI);
			ctx.fillStyle = 'blue';
			ctx.globalAlpha = 0.4;
			ctx.fill(); 
		}
			

		function handleSlider(values, handle, unencoded, tap, positions, noUiSlider) {
 		   // values: Current slider values (array);
    		   // handle: Handle that caused the event (number);
    		   // unencoded: Slider values without formatting (array);
    		   // tap: Event was caused by the user tapping the slider (boolean);
    		   // positions: Left offset of the handles (array);
    		   // noUiSlider: slider public Api (noUiSlider);
		   let slider_value = parseInt(values[0]);
		   image.onload();
                   let prs = day_data[dates[slider_value - 1]];
		   let datet = dates[slider_value - 1];
		   let dateString = ('0' + datet.getDate()).slice(-2) + '/'
             + ('0' + (datet.getMonth()+1)).slice(-2) + '/'
             + datet.getFullYear();
		   for (let i in prs) {
		      $("#comment").text(prs[i]["comment"]);
		      $("#comment_date").html("<b>Дата: </b>" + dateString);
 		      $("#pain_image").attr("src", prs[i]["image"]);
		      drawCircle(prs[i]["x"]*200+75, prs[i]["y"]*200+150, prs[i]["r"]*7);   
		   }
		}

		slider.noUiSlider.on("update", handleSlider);
    </script>

    <!-- PLOTTING -->
    <script>
      let painPlotDate = [
	      {% for pd in pain_plot_date %}
	          "{{ pd }}",
	      {% endfor %}
	     ];
      let painPlotVal = [
		  {% for pv in pain_plot_val %}
	          {{ pv }},
	      {% endfor %}
        ];

  	  var pain_m = {
        x: painPlotDate,
        y: painPlotVal,
        mode: 'lines',
        //name: 'Confirmed cases'
      };


      var pain_data = [ pain_m ];

      var pain_layout = {
        title:'Уровень боли',
      };

      Plotly.newPlot('pain_plot', pain_data, pain_layout);
    </script> 

    <script>
    let bed_measurements = [30, 15, 17, 26, 38, 32, 20]; // REVERSE
    // "dates": list(map(lambda x: pd.to_datetime(str(x)).strftime('%Y-%m-%d'), prediction["date"]))
	let bed_dates = ['2003-03-10', '2003-03-11', '2003-03-12', '2003-03-13', '2003-03-14', '2003-03-15', '2003-03-16'];

	  var bed_m = {
        x: bed_dates,
        y: bed_measurements,
        mode: 'lines',
      //  name: 'Время вне кровати (минуты)'
      };

      var bed_data = [ bed_m ];

      var bed_layout = {
        title:'Время вне кровати (минуты)',
      };

      Plotly.newPlot('bed_time', bed_data, bed_layout);
    </script>
	
	</body>
</html>
 
