<html>
	<head>
		<meta charset="utf-8">
		<title> Войдите в аккаунт доктора </title>

		 <!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	            
	    <!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
	<nav>
	    <div class="nav-wrapper blue">
	      <a href="#" class="brand-logo" style="margin-left:2%;">Кабинет</a>
	      <ul id="nav-mobile" class="right hide-on-med-and-down">
	        <li><a href="/doctor/logout">Выйти</a></li>
	      </ul>
	    </div>
	</nav>
	<br />

    <div class = "container">
		<ul class="collapsible">
                {% for client in clients %}		  
		  <li>
		    <div class="collapsible-header">
		      <i class="material-icons">person</i>
		      {{ client.name }}
                    </div>
		      <!--<span class="new badge blue">4</span></div>-->
		    <div class="collapsible-body">
		    	<p><b>Логин:</b> {{ client.login }}</p>
		    	<p><b>Пол:</b> {{ client.sex }}</p>
		    	<p><b>Возраст:</b>  {{ client.age }}</p>
		    	<p><b>Заболевания:</b>  {{ client.diagnosis }}</p>
                        <a href="/doctor/client/{{ client.login }}">Перейти на страницу пользователя</a>
		    </div>
		  </li>
                 {% endfor %}

		</ul>
    </div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	

	<script>
	  $(document).ready(function(){
	    $('.collapsible').collapsible();
	  });
	</script>
	</body>
</html>
