<html>
	<head>
		{% load staticfiles %}
		<meta charset="utf-8">
		<title> Войдите в аккаунт доктора </title>

		 <!-- Compiled and minified CSS -->
	    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	            
	    <!--Let browser know website is optimized for mobile-->
      	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	</head>
	<body>
		<div class = "container">
			<center>
				<img src = "{% static 'Auth/vera.jpg' %}" style="width: 15vh; min-width: 120px; margin-top: 20vh;"/>
			</center>
			<div class = "row">
				<div class = "col s2"></div>
				<div class = "col s8" valign-wrapper style="min-height:40vh; margin-top: 5vh;">
					<div class = "valign">
						<div class="row">
    						<form class="col s12">
						      	<div class="row">
							        <div class="input-field col s12">
							          <i class="material-icons prefix">person</i>
							          <input id="login" type="text" class="validate">
							          <label for="login">Login</label>
						        	</div>
						    	</div>
								<div class="row">
							        <div class="input-field col s12">
							          <i class="material-icons prefix">vpn_key</i>
							          <input id="password" type="password" class="validate">
							          <label for="password">Password</label>
							        </div>
						      	</div>
						      	<center>
						      		<a class="waves-effect waves-light btn" id="send"><i class="material-icons right">send</i>send</a>
						      </form>
						  </div>
					</center>
					</div>
				</div>
				<div class = "col s2"></div>
			</div>
		</div>

    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
	<script>
		$("#send").click(function() {
			let login = $("#login").val();
			let password = $("#password").val();

			$.post("/doctor/auth",
				{
					login: login,
					password: password,
				},
				function(data, status) {
                                        if (data["ok"]) {
                                             window.location = "/doctor/cabinet";
                                        }
					else {
						M.toast({html: data["error"]});
					}
				}
			);
		});
	</script>
	</body>
</html>
